@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Welcome @context.User.FindFirst("Email").Value</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Please Log in</h1>
    </NotAuthorized>
</AuthorizeView>

<h1>Hello, world!</h1>

Welcome to your new app.
<RadzenButton Text="Hey Cemal!"></RadzenButton>
<SurveyPrompt Title="How is Blazor working for you?" />
